.general-dashboard-system {
    width: 700px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.general-dashboard-system.off {
    background-color: red;
}

.general-dashboard-system.on {
    background-color: green;
}

.general-dashboard-system.inactive {
    background-color: orange;
}

.general-dashboard-system > span {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.general-dashboard-system > span > * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.general-dashboard-system > .general-dashboard-system-resources {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
}

.general-dashboard-system > .general-dashboard-system-resources > div {
    width: 45%;
}

.general-dashboard-system-resources.canvas {
    height: 200px;
}