.system-dashboard {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: auto;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.system-dashboard-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    width: 100%;
    height: 100%;
}