.environment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.environment-system {
    width: 700px;
    /* height: 100px; */
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.environment-system.off {
    background-color: red;
}

.environment-system.on {
    background-color: green;
}

.environment-system.inactive {
    background-color: orange;
}

.environment-system > .system-ip {
    margin-top: 0px;
}

.environment-system > .system-resources {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.environment-system > .system-resources > div {
    width: 45%;
}

.system-resources.canvas {
    height: 200px;
}
